<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{pdata.productImg}}" alt="..." /></div>
            <div class="col-md-6">
                <!-- <div class="small mb-1">SKU: BST-498</div> -->
                <h1 class="display-5 fw-bolder">{{pdata.productName}}</h1>
                <div class="fs-5 mb-4">
                    <span class="text-dark">{{pdata.price}}</span>                    
                </div>
                <p class="lead">{{pdata.description}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-light border flex-shrink-0" type="button">
                        <a style="text-decoration: none;" href="">Edit</a>
                    </button>
                    <button class="btn btn-outline-light ms-3 border flex-shrink-0" type="button">
                        <a style="text-decoration: none;" href="">Delete</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

